<div class="container">

  <div id="main">
    <h1>The Burger Spot</h1>
    <img src="assets/images/burger-image.jpg" alt="">
    <p>Clever, exicting, and mouthwatering burgers</p>
  </div>



  <div class="row">
    <div class="col-md-6">
      <h2>Burgers not eaten?</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Burgers eaten?</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <form class="create-form">
    <h2>Add a Burger</h2>
    <div class="form-row">
      <div class="form-group col-md-5 offset-md-1">
        <label class="form-check-label" for="burgerName">Burger Name:</label>
        <div class="mx-auto">
          <input class="form-control" type="text" id="burgerName" name="name" placeholder="Enter your burger name...">
        </div>
      </div>

      <div class="form-group col-md-4 offset-md-1">
        <label class="form-check-label" for="devoured">Devoured?</labe><br>
          <div class="col-md-12">
            <input class="form-check-input" type="radio" name="devoured" value="1">
            <label class="form-check-label" for="devoured">Devoured</label>
            <br>
            <input class="form-check-input" type="radio" name="devoured" value="0">
            <label class="form-check-label" for="devoured">Not Devoured</label>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 offset-md-5">
        <button class="text-center" type="submit">Add Burger</button>
      </div>
    </div>

  </form>
</div>
</div>