body {
  margin: 0 auto;
  padding: 0 540px;
}

li {
    padding: 5px;
    margin: 5px;
    background: #f4ebe1;
    list-style-type: none;
    font-size: 26px;
    text-transform: capitalize;
  }
  
  label {
    font-weight: bold;
    font-size: 18px;
  }

  input {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #fcfcfc;
    border: 1px solid #333;
    height: 20px;
    width: 50%;
}
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  button {
    background-color: rgb(192, 31, 31);
    color: #fff;
    margin-left: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 18px;
}

button:hover {
  background-color: rgb(97, 14, 14);
}
  